<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <h1>Great\Example</h1>
    <div id="toast"></div>
    
    <nav>
      <div class="menu" (mouseenter)="MouseEnter()">menu</div>
      <div class="links"  (mouseleave)="MouseLeave()">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a *ngIf="isLoggedIn" (click)="logout()" id="logout">Logout</a>
        <a *ngIf="!isLoggedIn" routerLink="/login" id="login" routerLinkActive="active">Login </a>
      </div>
    </nav>  
  </div>

  <router-outlet></router-outlet>
</body>
</html>